@media screen {
    .view-content {
        .metadata-container {
            max-height: 2.7rem;
            opacity: 0.1;
            overflow: hidden;
            transition: max-height 250ms ease-in-out, opacity 250ms;
            margin-bottom: 0;
        }

        .embedded-backlinks {
            opacity: 0.1;
            transition: max-height 250ms ease-in-out, opacity 250ms;
        }
    }

    .metadata-container:hover,
    .metadata-container:focus-within {
        max-height: 1000px;
        opacity: 1;
        transition: max-height 300ms ease-in-out, opacity 300ms;
    }

    .embedded-backlinks:hover,
    .embedded-backlinks:focus-within {
        opacity: 1;
        transition: max-height 300ms ease-in-out, opacity 300ms;
    }
}